# Symfony / PHP
/vendor/
/var/
/.env
/.env.local
/.env.*.local
/public/bundles/
/translations/
/node_modules/
/phpunit.result.cache

# Webpack Encore / React
/public/build/
/public/uploads/
/public/assets/

/yarn-error.log
/npm-debug.log*

# IDE / Editor-specific
/.idea/
/.vscode/
/*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp
